body{

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.itemTarea{
    text-align: justify-center;
    padding-top: 10px;
}


.eliminar {
  padding-left: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: red;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.itemTarea:hover{
    font-size: 20px;
    
}
.itemTarea:hover .eliminar {
  opacity: 1;
  font-size: 24px;
}

.listaTareas{
    color:azure;
    background-image: none;
    height: 500px;
}
