body {
  background-image: url(https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&w=800);
  background-size: cover;
  background-position: center;
  color: azure;
}

.itemTarea {
  display: flex;
  align-items: center;
  gap: 0px; 
  position: relative;
  font-size: 20px;
}

.itemTarea::before {
  content: '';
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-top: 10px;
  background-image: url('https://t3.ftcdn.net/jpg/09/96/82/36/360_F_996823616_8zWpKNAHL1LWeaqKu0vEHyrBbJCyZAkm.png');
  background-size: contain;
  background-repeat: no-repeat;
  flex-shrink: 0;
}




.eliminar {
  padding-left: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: red;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.vistaClara{
  background-color: aliceblue;
}
.itemTarea:hover {
  font-size: 20px;

}

.itemTarea:hover .eliminar {
  opacity: 1;
  font-size: 24px;
}

.listaTareas {
  height: 500px;
  padding-top: 60px;
}
.vistaOscura {
  
  color: white;
}

.vistaClara {
  background-image: url(https://images.pexels.com/photos/2152/sky-earth-space-working.jpg?auto=compress&cs=tinysrgb&w=800);
  color: black;
  font-family: 'Courier New', monospace;
}
